GoogleMapsAPI = { AIzaSyBR_jP_kq0nataSn1FHLvCPi9RUrUUsZeM};
SpotifyClientID = { def6df2d9e404f4389042d2be1c30ac2,
SpotifyClientSecret = d8a6717cda0e4104821354fd0f5d5349,
SpotifyOAuthToken = BQAq25NXWhhlEVDQMdkJ2IK2X_YBpjoJAWqVYRVIZ4JTCxAK4VLlR1QgUx8SL8mY-IAKWo2EBI88PDF6CRfch8Z74lkRLAqjiqrKlOVF2Kt69vDFVk2rsrubFolt-gGyYFj1sVJ-ZxoT42IqKtzF-17kKW2Dm5QX5ZZlqM-wgfg4b6RygYkJ5dYJXOJqEnVRravSZeqnDcMB7A7fgvxxMgW-PHiDdfVem73nVAk1xwincHuN1WBdpw};
