body {
    padding-bottom: 60px;
    background-color: darkorchid;
}
nav {
    color: White;
    font-size: 20px;
    border: solid;
    border-radius: 20px;
    width: 28%;
    text-align: center;
    background: white;
}
h1 {
    color: white;
}
#artist-data {
    color: black;
    border: 5px;
    padding: 20px;
    border-style: solid;
    border-radius: 30px;
    text-align: left;
    width: 35%;
    background-color: lightskyblue;
    margin: 90px;
}
#album-data {
    color: black;
    border: 5px;
    padding: 20px;
    border-style: solid;
    border-radius: 30px;
    background-color: white;
    width: 45%;
    float: left;
}
#song-data {
    color: black;
    border: 5px;
    padding: 20px;
    border-style: solid;
    border-radius: 30px;
    background-color: white;
    width: 45%;
    float: left;
    flex-grow: 1;
}
section {
    padding: 20px;
    width: 50%;
}
footer {
    position: absolute;
    bottom: 0;
    height: 55px;
    width: 100%;
    text-align: center;
}
